<h1>Decide Points of Interest</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Points of Interest</th>
			<th>Votes</th>
		</tr>
	</thead>
	<tbody>
		<% @trip.pois.sort.reverse.each do |poi| %>
		<tr>
			<td><%= poi.name %></td>
			<td><%= Vote.find_all_by_poi_id(poi.id).count %></td>
			<td>
			<% if !poi.definitive %>
				<%= button_tag "Confirm", :id => poi.id, :class => "btn btn-primary confirm" %>
				<%= link_to "Tweet", tweet_path(poi.id), :class => "btn tweet hidden" %>
			<% else %>
				<%= button_tag "Confirmed", :id => poi.id, :class => "btn btn-success confirm disabled" %>
				<%= link_to "Tweet", tweet_path(poi.id), :class => "btn tweet" %>
			<% end %>
			</td>
			<td>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>