<%= form_for @poi, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
	<div class="control-group">
		<%= f.label :image, :class => "control-label" %>
		<%= f.text_field :photo_page_url, :class => "text_field hidden", :value => params[:page_url] %>
		<% if !params[:image_url].nil? %>
			<%= image_tag params[:image_url] %>
			<%= f.text_field :image_url, :class => "text_field hidden", :value => params[:image_url] %>
		<% elsif !@poi.image_url.nil? %>
			<%= image_tag @poi.image_url %>
			<%= f.text_field :image_url, :class => "text_field hidden", :value => @poi.image_url %>
		<% end %>
		<%= link_to "Choose Image", image_path(@poi.id), :class => "btn btn-info" %>
	</div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pois_path, :class => 'btn' %>
  </div>
<% end %>
