<h1>Choose Image for <%= @poi.name %></h1>
<%= form_tag image_path(@poi.id) do %>
	<div class="field">
		<%= label_tag :search_on_flickr %>
		<%= text_field_tag :keyword, params[:keyword] %>
	</div>
	<div class="action">
		<%= submit_tag "Search", :class => "btn btn-primary"%>
	</div>
	<% if !@flickr_photo_ids.nil? && !@flickr_photo_ids.empty? %>
	<h3>Search Results</h3>
	<div id="results">
		<% @flickr_photo_ids.each do |id| %>
			<% info = flickr.photos.getInfo(:photo_id => id) 
					image_url = FlickRaw.url_q(info)
					page_url = FlickRaw.url_photopage(info) %>
			<%= link_to image_tag(image_url), edit_poi_path + "?image_url=" + image_url + "&page_url=" + page_url %>
		<% end %>
	</div>
	<% path = URI::escape(request.path + "?keyword=" + params[:keyword] + "&page=")
		if !params[:page].nil? %>
		<% next_page = params[:page].to_i + 1 
			 previous_page = params[:page].to_i - 1 %>
	<% else %>
		<% next_page = 2 %>
	<% end %>
	<% if !previous_page.nil? %>
		<%= link_to "Previous", path + previous_page.to_s, :class => "btn" %>
	<% end %>
	<%= link_to "Next",  path + next_page.to_s, :class => "btn btn-inverse" %>
	<% end %>
<% end %>