<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poi.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @poi.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @poi.description %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @poi.vote %>
</p>

<%= link_to 'Edit', edit_poi_path(@poi) %> |
<%= link_to 'Back', pois_path %>
